.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: cornsilk;
  }
  
  mat-card {
    width: 400px;
    text-align: center;
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.3);
  }
  mat-card-title {
    margin: 16px 0;
    font-weight: bold;
  }
  button, mat-form-field {
    width: 100%;
  }